- let emojiMaps = '""'
if site.data.artalk
  - emojiMaps = JSON.stringify(site.data.artalk)

script.
  function addArtalkSource () {
    const ele = document.createElement('link')
    ele.rel = 'stylesheet'
    ele.href= '!{url_for(theme.CDN.artalk_css)}'
    document.getElementsByTagName('head')[0].appendChild(ele)
  }

  function loadArtalk () {
    function initArtalk () {
      const initData = {
        el: '#ArtalkComments',
        placeholder: '#{theme.artalk.placeholder}',
        noComment: '#{theme.artalk.noComment}',
        defaultAvatar: '#{theme.artalk.avatar}',
        sendBtn:'#{theme.artalk.sendBtn}',
        pageKey: window.location.pathname,
        serverUrl: '#{theme.artalk.serverUrl}',
        gravatar: {
          cdn: '#{theme.artalk.gravatar_cdn}'
        },
        emoticons: !{emojiMaps},
        readMore: { 
          pageSize: #{theme.artalk.pageSize}, 
          autoLoad: #{theme.artalk.autoLoad}
        },
        //- darkMode: true
      }
      const artalk = new Artalk(initData)
    }

    if (typeof Artalk === 'function') initArtalk() 
    else{
      addArtalkSource()
      getScript('!{url_for(theme.CDN.artalk)}').then(initArtalk)
    } 
  }

  if ('!{theme.comments.use[0]}' === 'Artalk' || !!{theme.comments.lazyload}) {
    if (!{theme.comments.lazyload}) btf.loadComment(document.querySelector('#ArtalkComments'),loadArtalk)
    else setTimeout(() => loadArtalk(), 0)
  } else {
    function loadOtherComment () {
      loadArtalk()
    }
  }