script.
  function loadBeaudar () {
    let ele = document.createElement('script')
    ele.setAttribute('id', 'beaudar_comment')
    ele.setAttribute('src', '!{url_for(theme.CDN.beaudar)}')
    ele.setAttribute('repo', '!{theme.beaudar.repo}')
    ele.setAttribute('branch', '!{theme.beaudar.branch}')
    ele.setAttribute('issue-term', '!{theme.beaudar.issue_term}')
    ele.setAttribute('label', '!{theme.beaudar.label}')
    ele.setAttribute('keep-theme', '!{theme.beaudar.keep_theme}')
    ele.setAttribute('loading', '!{theme.beaudar.loading}')
    ele.setAttribute('comment-order', '!{theme.beaudar.comment_order}')
    ele.setAttribute('input-position', '!{theme.beaudar.input_position}')
    let nowTheme = document.documentElement.getAttribute('data-theme') === 'dark' ? '#{theme.beaudar.dark_theme}' : '#{theme.beaudar.light_theme}'
    ele.setAttribute('theme', nowTheme)
    ele.setAttribute('crossorigin', 'anonymous')
    ele.setAttribute('async', 'true')
    document.getElementById('beaudar-wrap').insertAdjacentElement('afterbegin',ele)
  }

  function beaudarTheme () {
    if (document.querySelector('.beaudar-frame')) {
      const theme = document.documentElement.getAttribute('data-theme') === 'dark' ? '#{theme.beaudar.dark_theme}' : '#{theme.beaudar.light_theme}'
      const message = {
        type: 'set-theme',
        theme: theme
      };
      const iframe = document.querySelector('.beaudar-frame');
      iframe.contentWindow.postMessage(message, 'https://beaudar.lipk.org');
    }
  }

  if ('!{theme.comments.use[0]}' === 'Beaudar' || !!{theme.comments.lazyload}) {
    if (!{theme.comments.lazyload}) btf.loadComment(document.getElementById('beaudar-wrap'), loadBeaudar)
    else loadBeaudar()
  } else {
    function loadOtherComment () {
      loadBeaudar()
    }
  }
